<p>Hi friends and family, it's true, I'm leaving Apple.</p>
<p>On hearing this news, people tend to want an explanation, and so here I hope to answer your questions. I made some sections clickable for more detail, because I don't want to bore you.</p>

<details>
  <summary>Was it Apple's fault? (no)</summary>
  <p>Apple's been awesome. I've learned a ton, made some great friends, saved most of what I earned, eaten the best food of my life, and got to help out in making what still believe are some of the highest-quality computers in the world, and now I know first hand the kind of care that goes into them.</p>
  <p>There were always tradeoffs for me. The long commute (which I voluntarily endured to save money) was a big drag, and it's a side effect of the bay area being in a bit of a insane mess of economic boom right now. Even as a programmer that could supposedly be gentrifying; moving to the south bay was both more expensive than I wanted to pay, and not an area I had much interest in other than work convenience.</p>
  <p>Finally, the one thing they could never offer me is freedom to work on what I wanted to. Ultimately I'm a very self-driven person as long as I have the freedom to set my own priorities and pursue them as I like, and I have a long list of things I'd like to do, but that's something I'll probably never get in a big corporation, hence needing to spend at least some time out of one.</p>
</details>

<p>I have another project I'm excited to start on.</p>

<details>
  <summary>What's the new project?</summary>

  <p>I'll be joining my good friend Aaron Davis at Consensys, building a tool called MetaMask, and generally enhancing the Ethereum ecosystem.</p>

  <details>
    <summary>Who's Aaron Davis?</summary>
    <p><a href="http://aaron.kumavis.me/">Aaron</a> is a really brilliant friend of mine who I first met when contributing to the open source project <a href="http://voxeljs.com/">Voxel.js</a>, which united our common interests in using computers to make cool stuff more accessible to a broader audience (in that case, kids).</p>

    <img src="http://danfinlay.com/why-leaving-apple/aaron.jpg">
    <caption>Here I am hanging out with Aaron and his son, who calls me "Dino Dan".</caption>

    <p>While we were working at Apple, Aaron attended a Bitcoin meetup and learned about Ethereum, and after realizing how cool it was potentially, he honed in on a very basic problem in its ecosystem, that it doesn't work in current browsers.</p>
    <p>Being a bit of a browser hacker, he quit Apple about a year ago and has been working on Metamask ever since. I've followed along this whole time, and I really love the project, and think I can help him make it better, and help enrich the whole Ethereum ecosystem along the way.</p>
  </details>

  <details>
    <summary>What's Consensys?</summary>
    <img src="http://danfinlay.com/why-leaving-apple/img/consensys.svg">
    <p>I think of Consensys as a sort of digital cooperative, where its members are generally given free range to contribute to the community in whatever way they see fit.</p>
    <p>It's presently bankrolled by <a href="https://twitter.com/ethereumjoseph">Joseph Lubin</a>, who believes Ethereum has huge potential for mankind, and basically wants to stoke the flames.  You can listen to an interview on a podcast with him <a href="https://letstalkbitcoin.com/blog/post/the-ether-review-1-joseph-lubin">here</a>.</p>
    <p>Consensys is dedicated to generally promoting the creation of a more distributed internet. That means peer-to-peer, and less reliant on centralized authorities.</p>
    <img src="http://danfinlay.com/why-leaving-apple/img/networktypes.png">
    <p>There are a couple technologies at the heart of these efforts, most notably <a href="https://www.ethereum.org/">Ethereum</a> and <a href="https://ipfs.io/">IPFS</a></p>
    <p>Best of all, I've found in Consensys (and the Ethereum/blockchain communities as a whole) a group of people who are incredibly inspiring and intelligent, and who make it normal to dream the fantastic.</p>
    <p>Consensys also gives its members a beautiful and experimental amount of autonomy, and democracy, with plans to eventually manage its own affairs via an Ethereum application, truly practicing what it preaches.</p>
  </details>

  <details>
    <summary>What's Ethereum?</summary>
    <img src="http://danfinlay.com/why-leaving-apple/img/ethereum.png">
    <p>Ethereum is a <a href="https://simple.wikipedia.org/wiki/Turing_complete">turing-complete</a> <a href="https://en.wikipedia.org/wiki/Block_chain_(database)">blockchain</a> as described by <a href="https://en.wikipedia.org/wiki/Vitalik_Buterin">Vitalik Buterin</a> in this <a href="https://github.com/ethereum/wiki/wiki/White-Paper">whitepaper</a>. Apparently <a href="http://www.wired.com/2014/01/ethereum/">Wired did an article on it.</a></p>
    <p>What this means is Ethereum is a computer that runs in a completely distributed, public space.</p>
    <p>Users can write anything from a simple script, like a monthly rent payment, to anything they can imagine, even something as complicated as <a href="http://boardroom.to/">a democratic organization</a></p>
    <p>Unlike normal web sites or applications, no central authority owns the communications.</p>
    <p>No one can censor posts on an Ethereum app, unless that app explicitly makes that legal.</p>
    <p>Anyone can read the source code for an Ethereum app, they run in public always.</p>
    <p>Ethereum applications do not require any extra infrastructure. Once they are live, they continue to live on their own, on the collective blockchain.</p>
    <p>It's hard to capture the full implications here.</p>
    <details>
      <summary>More examples of Ethereum Applications</summary>
      <p> - Uber without uber. Just passengers paying drivers.</p>
      <p> - Airbnb without Airbnb. Just people renting space from each other.</p>
      <p> - New currencies with new properties. What if inflation didn't go to central banks, <a href="https://medium.com/@ConsenSys/basic-income-on-the-blockchain-fair-money-45662889077c#.l9greskm5">but was distributed evenly?</a></p>
      <p> - <a href="http://boardroom.to/">Transparent organizations</a> whose entire budget is provably accurate, along with their entire constitution and voting processes.</p>
      <p> - <a href="http://singularityhub.com/2016/02/16/how-ownerless-firms-will-soon-live-on-the-blockchain/?utm_content=buffer372cf&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer">Businesses that have no owners</a>, and only function to serve people.</p>
      <p> - <a href="https://www.ethereum.org/crowdsale">Kickstarter but without a middleman choosing what gets listed</a>, trading real equity, and whatever else you can imagine. <a href="https://medium.com/@Digix/where-does-vc-money-come-from-what-is-digix-fighting-for-a7b0b5f31d14">Here's a take on how it might disrupt fundraising in general.</a></p>
      <p>You can look for more examples on <a href="http://dappstore.io/#/">the DAPP Store (Distributed App)</a>. If you can't visit that link, see the next section, "What's Metamask?"</p>
    </details>
  </details>

  <details>
    <summary>What's Metamask?</summary>
    <p>You might have noticed something about Ethereum. It doesn't work in your browser.</p>
    <p>In fact, when Aaron first came along, it was thought that people would have to have a second browser to visit Ethereum apps.</p>
    <p>Metamask is Aaron's approach to a browser extension that lets you log into an Ethereum account, and interact with the Ethereum web like any other website.</p>
    <img src="http://danfinlay.com/why-leaving-apple/img/metamask.png">
    <p>In my opinion, this is the kind of convenience that makes the whole thing easier to adopt and get into.</p>
    <p>There is also a blueprint for a version of Metamask that doesn't even require a browser extension, but that's much further on the roadmap. First we want people to be able to actually use Dapps at all.</p>

    <details>
      <summary>I came this far. Give me more Metamask.</summary>

      <p>The two big features are that you will have the chance to own and manage your online identity like never before, and you will get to participate in a decentralized web of the future.</p>
      <p>First, a bit on identity. At the moment you always ask someone else to verify your identity. You go to the DMV to get a license, you sign in with Facebook on other sites, you hope nobody learns your social security number which you write on the application for every job you apply to.</p>
      <p>Metamask is going to be a convenient way for you to manage your own secured identities, allowing you to be logged in with your browser (or eventually phone) across all sites on this new web.</p>
      <p>For a big old thinkpiece on the future of online identity that will be made possible by managing it yourself, you should check out <a href="https://medium.com/@ConsenSys/tell-me-who-you-are-258268bf3180">Tell Me Who You Are</a> by Vinay Gupta, another Consensys member.</p>
    </details>
  </details>
</details>

<p>Hopefully bettering society. Greater personal freedom. More exciting topics of work. Being allowed to talk about what I do again!</p>
<p>So yeah, that's why I'm leaving Apple. Maybe I'll go back someday once I'm done with these other interests. It has been a great time, and I'm leaving an awesome team of friends behind.</p>
<p>Hopefully this has answered your big questions, and you feel like you have the faintest idea of why I would throw a job like that away.</p>
